@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.main,
.main input,
.main textarea {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.main .icon {
  width: 80px;
}
.main h3 {
  font-size: 32px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
  width: 350px;
}
.main form,
.main .result {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.main input[type="text"],
.main textarea {
  padding: 12px 16px;
  border: 1px solid #000000;
  border-radius: 0;
  margin-bottom: 24px;
  outline: none;
  box-sizing: border-box;
}

.main textarea {
  width: 100%;
  resize: vertical;
  min-height: 50px;
}

.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
}
.main .result {
  font-weight: bold;
  margin-top: 40px;
}
